
<div class="jumbotron">
    <h1 class="text-center">TicketMaster Roulette</h1>
    <p class="lead text-center">Let us a choose a concert for you to attend tonight...</p>
</div>

<div class="text-center">
    <button class="btn btn-lg btn-danger">It's Lit!</button>
    <button class="btn btn-lg btn-warning">It's Not Lit</button>
</div>

<script type="text/javascript">

    var tmasterAPP = angular.module('scotchApp', []);

    tmasterAPP.controller('mainController', function ($scope) {


    });

</script>